<form asp-action="ChangePassword" asp-controller="LoginPageController" method="post">

   @if (ViewBag.Message != null)
   {
       <p style="text-align:center">
           @ViewBag.Message
       </p>
   }
    <div class="row mt-3">
        <div class="form-group col-xl-8 col-lg-8 col-sm-12 col-xs-12 mx-auto">
            <input name="Email" type="email" class="form-control" id="Email" placeholder="Your E-mail" style="font-size:16px;">
        </div>

    </div>
    <div class="row mt-3">
        <div class="form-group col-xl-8 col-lg-8 col-sm-12 col-xs-12 mx-auto">
            <input name="Password" type="password" class="form-control" id="Pass1" placeholder="New Password" style="font-size:16px;">
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-xl-8 col-lg-8 col-sm-12 col-xs-12 mx-auto">
            <input name="ConfirmPassword" type="password" class="form-control" id="Pass2" placeholder="Please Confirm Your Password" style="font-size:16px;">
        </div>
    </div>


    <div class="row mt-5">
        <div class="form-group col-xl-8 col-lg-8 col-sm-12 col-xs-12 mx-auto">
            <input type="submit" class="btn btn-primary btn-block" id="Submit" value="Submit" style="font-size:16px;">
        </div>
    </div>

</form>