<form asp-action="Activate" asp-controller="HomeController" method="post">

    <div class="row mt-3">
        <div class="form-group col-xl-8 col-lg-8 col-sm-12 col-xs-12 mx-auto">
            <input name="ActivationCode" type="text" class="form-control" id="ActivationCode" placeholder="Your Activation Code" style="font-size:16px;">
        </div>

    </div>

    <div class="row mt-5">
        <div class="form-group col-xl-8 col-lg-8 col-sm-12 col-xs-12 mx-auto">
            <input type="submit" class="btn btn-primary btn-block" id="Submit" value="Submit" style="font-size:16px;">
        </div>
    </div>

</form>